@font-face{font-family:regular;src:url("../font/barlow/Barlow-Regular.ttf")}@font-face{font-family:semi;src:url("../font/barlow/Barlow-SemiBold.ttf")}@font-face{font-family:extra;src:url("../font/barlow/Barlow-ExtraBold.ttf")}:root {

    /*
    Hier können Schriftgrößen, Abstände etc. angepasst werden
    Zahlen sollten immer positiv sein
    Dezimalzahlen werden mit Punkt geschrieben
    Werte "bildschirm-breite" und "bildschirm-hoehe" sind in Pixel angegeben
    Standardwert für Parameter: 100
    */
    
    --bildschirm-breite: 1920;
    --bildschirm-hoehe: 1080;
    
    --schriftgroesse-klein: 100;
    --schriftgroesse-standard: 100;
    --schriftgroesse-gross: 100;
    --abstand-zur-mitte: 100;
    --zeilenabstand: 100;
    --vertikaler-abstand: 100;
    --textschatten-groesse: 100;

}*{margin:0;padding:0}html{overflow:hidden;font-family:semi}body{background-image:url("../img/pause.png");background-size:cover;background-attachment:fixed;background-position:center;background-color:#000}table{color:#fff;font-size:calc((7px*var(--bildschirm-breite)*var(--schriftgroesse-standard))/(10000));width:100%;padding:0;margin:0;position:absolute;top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%)}.gelb{color:#ffed00;font-size:calc((11.5px*var(--bildschirm-breite)*var(--schriftgroesse-gross))/(10000));font-family:extra;text-transform:uppercase;line-height:calc((14px*var(--bildschirm-hoehe)*var(--zeilenabstand))/(10000));}.klein{font-size:calc((6px*var(--bildschirm-breite)*var(--schriftgroesse-klein))/(10000));}.abstand{height:calc((9px*var(--bildschirm-hoehe)*var(--vertikaler-abstand))/(10000));}td{text-shadow:0 0 calc(0.5px*var(--textschatten-groesse))#000;padding-left:calc((7px*var(--bildschirm-breite)*var(--abstand-zur-mitte))/(10000))}td:first-child{text-align:right;padding-right:calc((7px*var(--bildschirm-breite)*var(--abstand-zur-mitte))/(10000));width:50%}
