@font-face {
    font-family: regular;
    src: url("../font/barlow/Barlow-Regular.ttf")
}

@font-face {
    font-family: semi;
    src: url("../font/barlow/Barlow-SemiBold.ttf")
}

@font-face {
    font-family: extra;
    src: url("../font/barlow/Barlow-ExtraBold.ttf")
}

* {
    margin: 0;
    padding: 0
}

html {
    overflow: hidden;
    font-family: semi;
    background: #000;
}


/* ------- SLIDER-LOGIC ------- */

div.slide {
    position: absolute;
    transition: opacity 2s ease-in;
}

div.slide + div.slide {
    opacity: 0;
}


/* ------- SLIDES ------- */

.slide {
    background-image: url(../img/default.png);
    background-size: cover;
    height: 1080px;
    width: 1920px;
}

/* ------- SLIDES PAUSE ------- */

.pause {
    background-image: url(../img/pause.png);
    background-size: cover;
}

table {
    color: #fff;
    font-size: 134.4px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 167px;
}

.gelb {
    color: #ffed00;
    font-size: 220.8px;
    font-family: extra;
    text-transform: uppercase;
    line-height: 151.2px;
}

.klein {
    font-size: 115.2px;
}

.abstand {
    height: 97.2px;
}

td {
    text-shadow: 0 0 50px#000;
    padding-left: 134.4px
}

td:first-child {
    text-align: right;
    padding-right: 134.4px;
    width: 50%
}
